div
	.card.bg-dark.text-white.border-dark
		img.card-img-top(src='http://placehold.it/300', alt='Card image cap')
		.card-block
			h4.card-title
			p.card-text
			.btn-group(role='group', aria-label='Basic example')
				a.btn.btn-secondary
					i.fa.fa-github
				a.btn.btn-info
					i.fa.fa-envelope
				a.btn.btn-primary
					i.fa.fa-user
